@import '~bootstrap/scss/bootstrap.scss';
// for navbar 
.navbar{
  background-color: #ffc048;
}
// for error 
.error{
  background-color: #dedede;
}
.page-wrap {
  min-height: 100vh;
}
.card__img{
  height: 15rem;
}
.SingleMeme__buttons{
  
}